<% @pets.each do |pet| %>
<div class='index'>
	<section id='pet-<%= pet.id %>'>
	<% if favorites.find_keys.include?(pet.id) %>
		<p><%= image_tag "#{pet.image}", width: 200, height: 150 %></p>
		<p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
		<p><%= button_to "Remove Pet From Favorites", "/favorites/#{pet.id}", method: :delete %></p>
	</section>
</div>
	<% end %>
<% end %>
